In [1]:
from libs.model_training import use_model
from datetime import datetime, timedelta
from libs.data_get import obtain_whole_data, obtain_dataset_3_days

In [2]:
keywords = ['iPhone', 'Apple',  'iMac']
file_ticker = "data/apple_tickers.csv"
ticker = "AAPL"
date_start = datetime.now().date() - timedelta(days=5)
date_end = datetime.now().date() + timedelta(days=1)
data_2 = obtain_whole_data(date_start, date_end, file_ticker, ticker)
data_3 = obtain_dataset_3_days(file_ticker, ticker)

C:\Users\Pavel\Desktop\GH\GAN-stock-prediction\venv\Lib\site-packages\pytrends\request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)
C:\Users\Pavel\Desktop\GH\GAN-stock-prediction\venv\Lib\site-packages\pytrends\request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)

In [3]:
data_2

,NVDA_Open,NVDA_Low,NVDA_Close,NVDA_Adj_Close,MSFT_Open,MSFT_High,MSFT_Low,MSFT_Adj_Close,GOOGL_Open,GOOGL_Low,...,Middle_BB,Upper_BB,RSI,MCDA_High,MCDA_Low,MCDA_Open,MCDA_Close,Fourier_3,Fourier_6,Fourier_9
Date,,,,,,,,,,,,,,,,,,,,,
2024-11-29,136.779999,136.050003,138.250000,138.250000,420.089996,424.880005,417.799988,423.459991,168.500000,167.160004,...,227.810499,236.415751,67.277113,0.608329,0.852863,0.857751,1.080081,238.163150,238.054988,237.324367
2024-12-02,138.830002,137.820007,138.630005,138.630005,421.570007,433.000000,421.309998,430.980011,168.770004,168.570007,...,228.644498,238.351016,70.583465,1.123372,1.455566,1.428731,1.649144,238.537148,239.382365,240.822224
2024-12-03,138.259995,137.949997,140.259995,140.259995,429.839996,432.470001,427.739990,431.200012,171.490005,170.850006,...,229.676498,240.648456,74.360912,1.716714,2.068333,1.998601,2.320300,238.156219,239.621639,240.279845

In [5]:
data_3

,NVDA_Open,NVDA_Low,NVDA_Close,NVDA_Adj_Close,MSFT_Open,MSFT_High,MSFT_Low,MSFT_Adj_Close,GOOGL_Open,GOOGL_Low,...,Middle_BB,Upper_BB,RSI,MCDA_High,MCDA_Low,MCDA_Open,MCDA_Close,Fourier_3,Fourier_6,Fourier_9
Date,,,,,,,,,,,,,,,,,,,,,
2024-11-29,136.779999,136.050003,138.250000,138.250000,420.089996,424.880005,417.799988,423.459991,168.500000,167.160004,...,227.810499,236.415751,67.277113,0.608329,0.852863,0.857751,1.080081,238.163150,238.054988,237.324367
2024-12-02,138.830002,137.820007,138.630005,138.630005,421.570007,433.000000,421.309998,430.980011,168.770004,168.570007,...,228.644498,238.351016,70.583465,1.123372,1.455566,1.428731,1.649144,238.537148,239.382365,240.822224
2024-12-03,138.259995,137.949997,140.259995,140.259995,429.839996,432.470001,427.739990,431.200012,171.490005,170.850006,...,229.676498,240.648456,74.360912,1.716714,2.068333,1.998601,2.320300,238.156219,239.621639,240.279845