In [11]:
from libs.data_finance import get_fin_data_3_day, get_fin_data_mult, get_fin_data_indiv
from libs.model_training import use_model
from libs.uprava_dat import fill_missing, get_only
from datetime import datetime, timedelta
from libs.vypocty_indikatoru import tech_indicators, fin_fourier
from libs.data_trends import get_trends, filter_trends

In [ ]:
data = get_fin_data_3_day("data/apple_tickers.csv")
data = fill_missing(data)
data

In [ ]:
data = get_only(data, "data/apple_tickers.csv")
data

In [16]:
ticker = "AAPL"
date_start = datetime.now().date() - timedelta(days=42)
date_end = datetime.now().date() + timedelta(days=1) 
prices = get_fin_data_indiv(ticker,date_start, date_end)
prices = prices.iloc[:,:-2]
prices

             AAPL_Open   AAPL_High    AAPL_Low  AAPL_Close
Date
2024-10-07  224.500000  225.690002  221.330002  221.690002
2024-10-08  224.300003  225.979996  223.250000  225.770004
2024-10-09  225.229996  229.750000  224.830002  229.539993
2024-10-10  227.779999  229.500000  227.169998  229.039993
2024-10-11  229.300003  229.410004  227.339996  227.550003
2024-10-14  228.699997  231.729996  228.600006  231.300003
2024-10-15  233.610001  237.490005  232.369995  233.850006
2024-10-16  231.600006  232.119995  229.839996  231.779999
2024-10-17  233.429993  233.850006  230.520004  232.149994
2024-10-18  236.179993  236.179993  234.009995  235.000000
2024-10-21  234.449997  236.850006  234.449997  236.479996
2024-10-22  233.889999  236.220001  232.600006  235.860001
2024-10-23  234.080002  235.139999  227.759995  230.759995
2024-10-24  229.979996  230.820007  228.410004  230.570007
2024-10-25  229.740005  233.220001  229.570007  231.410004
2024-10-28  233.320007  234.729996  232.550003  233.399994
2024-10-29  233.100006  234.330002  232.320007  233.669998
2024-10-30  232.610001  233.470001  229.550003  230.100006
2024-10-31  229.339996  229.830002  225.369995  225.910004
2024-11-01  220.970001  225.350006  220.270004  222.910004
2024-11-04  220.990005  222.789993  219.710007  222.009995
2024-11-05  221.800003  223.949997  221.139999  223.449997
2024-11-06  222.610001  226.070007  221.190002  222.720001
2024-11-07  224.630005  227.880005  224.570007  227.479996
2024-11-08  227.169998  228.660004  226.410004  226.960007
2024-11-11  225.000000  225.699997  221.500000  224.229996
2024-11-12  224.550003  225.589996  223.360001  224.229996
2024-11-13  224.009995  226.649994  222.759995  225.119995
2024-11-14  225.020004  228.869995  225.000000  228.220001
2024-11-15  226.399994  226.919998  224.270004  225.000000

In [17]:
mavg = tech_indicators(prices)
fft = fin_fourier(prices.iloc[:,3])
mavg = mavg.iloc[-3:,:]
fft = fft.iloc[-3:,:]

In [18]:
fft

     Fourier_3   Fourier_6   Fourier_9
27  225.898147  225.738458  225.929926
28  225.407195  225.549976  227.958329
29  224.963731  224.904374  224.783038

In [19]:
prices = prices.iloc[-3:,:]
prices = prices.merge(mavg, left_index=True, right_index=True, how='outer')
fft.index = prices.index
prices = prices.merge(fft, left_index=True, right_index=True, how='outer')
prices

,AAPL_Open,AAPL_High,AAPL_Low,AAPL_Close,MAVG_5,MAVG_10,MAVG_20,EMA_5,EMA_10,EMA_20,...,Middle_BB,Upper_BB,RSI,MCDA_High,MCDA_Low,MCDA_Open,MCDA_Close,Fourier_3,Fourier_6,Fourier_9
Date,,,,,,,,,,,,,,,,,,,,,
2024-11-13,224.009995,226.649994,222.759995,225.119995,225.603998,224.501999,228.720999,225.009256,225.713929,226.687955,...,228.720999,238.036519,46.090853,-1.122075,-1.012409,-0.896937,-0.740753,225.898147,225.738458,225.929926
2024-11-14,225.020004,228.869995,225.000000,228.220001,225.751999,224.732999,228.524500,226.079504,226.169578,226.833864,...,228.524500,237.707259,53.080770,-1.093394,-0.838755,-0.766427,-0.510040,225.407195,225.549976,227.958329
2024-11-15,226.399994,226.919998,224.270004,225.000000,225.359998,224.941998,228.024500,225.719669,225.956928,226.659210,...,228.024500,236.823423,46.357133,-0.948378,-0.848699,-0.713675,-0.580336,224.963731,224.904374,224.783038

In [20]:
keywords = ['iPhone', 'Apple',  'iMac']
trends = get_trends(keywords)
trends = filter_trends(list(prices.index.values), trends)

C:\Users\Pavel\Desktop\Diplomka\Projekt\transformer\.venv\Lib\site-packages\pytrends\request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)
C:\Users\Pavel\Desktop\Diplomka\Projekt\transformer\data_trends.py:23: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  result = trends[trends.index.isin(dates)]

In [21]:
trends

            iPhone  Apple  iMac
date
2024-11-13      84     55     1
2024-11-14      83     55     1
2024-11-15      88     52     1

In [22]:
prices = prices.merge(trends, left_index=True, right_index=True, how='outer')
prices

,AAPL_Open,AAPL_High,AAPL_Low,AAPL_Close,MAVG_5,MAVG_10,MAVG_20,EMA_5,EMA_10,EMA_20,...,MCDA_High,MCDA_Low,MCDA_Open,MCDA_Close,Fourier_3,Fourier_6,Fourier_9,iPhone,Apple,iMac
Date,,,,,,,,,,,,,,,,,,,,,
2024-11-13,224.009995,226.649994,222.759995,225.119995,225.603998,224.501999,228.720999,225.009256,225.713929,226.687955,...,-1.122075,-1.012409,-0.896937,-0.740753,225.898147,225.738458,225.929926,84,55,1
2024-11-14,225.020004,228.869995,225.000000,228.220001,225.751999,224.732999,228.524500,226.079504,226.169578,226.833864,...,-1.093394,-0.838755,-0.766427,-0.510040,225.407195,225.549976,227.958329,83,55,1
2024-11-15,226.399994,226.919998,224.270004,225.000000,225.359998,224.941998,228.024500,225.719669,225.956928,226.659210,...,-0.948378,-0.848699,-0.713675,-0.580336,224.963731,224.904374,224.783038,88,52,1

In [3]:
import model_training as mt

model = mt.use_model("data/apple_model.pth", 3)

RuntimeError: Error(s) in loading state_dict for Generator:
	Missing key(s) in state_dict: "gru_1.weight_ih_l0", "gru_1.weight_hh_l0", "gru_1.bias_ih_l0", "gru_1.bias_hh_l0", "gru_2.weight_ih_l0", "gru_2.weight_hh_l0", "gru_2.bias_ih_l0", "gru_2.bias_hh_l0", "gru_3.weight_ih_l0", "gru_3.weight_hh_l0", "gru_3.bias_ih_l0", "gru_3.bias_hh_l0".
	Unexpected key(s) in state_dict: "conv_1.weight", "conv_1.bias", "conv_2.weight", "conv_2.bias", "conv_3.weight", "conv_3.bias".
	size mismatch for linear_1.weight: copying a param with shape torch.Size([220, 128]) from checkpoint, the shape in current model is torch.Size([128, 256]).
	size mismatch for linear_1.bias: copying a param with shape torch.Size([220]) from checkpoint, the shape in current model is torch.Size([128]).
	size mismatch for linear_2.weight: copying a param with shape torch.Size([220, 220]) from checkpoint, the shape in current model is torch.Size([64, 128]).
	size mismatch for linear_2.bias: copying a param with shape torch.Size([220]) from checkpoint, the shape in current model is torch.Size([64]).
	size mismatch for linear_3.weight: copying a param with shape torch.Size([1, 220]) from checkpoint, the shape in current model is torch.Size([1, 64]).