In [1]:
from libs.data_finance import get_fin_data_3_day, get_fin_data_mult, get_fin_data_indiv
from libs.model_training import use_model
from datetime import datetime, timedelta
from libs.data_indicators_fft import tech_indicators, fin_fourier
from libs.data_trends import get_trends, filter_trends
from libs.data_edit import fill_missing, leave_only
from libs.data_get import obtain_whole_data, obtain_dataset_3_days
import pandas as pd

In [3]:
data = get_fin_data_3_day("data/apple_tickers.csv", "AAPL")
data = fill_missing(data)
data

,NVDA_Open,NVDA_High,NVDA_Low,NVDA_Close,NVDA_Adj_Close,NVDA_Volume,MSFT_Open,MSFT_High,MSFT_Low,MSFT_Close,...,GBP=X_Low,GBP=X_Close,GBP=X_Adj_Close,GBP=X_Volume,EUR=X_Open,EUR=X_High,EUR=X_Low,EUR=X_Close,EUR=X_Adj_Close,EUR=X_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2024-11-25,141.990005,142.050003,135.820007,136.020004,136.020004,344941900,418.380005,421.079987,414.850006,418.790009,...,0.79285,0.79404,0.79404,0,0.95421,0.95698,0.94970,0.95421,0.95421,0
2024-11-26,137.699997,139.300003,135.669998,136.919998,136.919998,189688300,419.589996,429.040009,418.850006,427.989990,...,0.79261,0.79789,0.79789,0,0.95746,0.95902,0.94842,0.95746,0.95746,0
2024-11-27,135.009995,135.119995,132.009995,133.029999,133.029999,83159670,425.105011,427.229889,424.140015,424.970001,...,0.78947,0.78996,0.78996,0,0.95320,0.95450,0.94530,0.94700,0.94700,0

In [4]:
data = leave_only(data, "data/apple_tickers.csv")
data

,NVDA_Open,NVDA_Low,NVDA_Close,NVDA_Adj_Close,MSFT_Open,MSFT_High,MSFT_Low,MSFT_Adj_Close,GOOGL_Open,GOOGL_Low,...,AAPL_Open,AAPL_High,AAPL_Low,AAPL_Close,AAPL_Adj_Close,GBP=X_Open,GBP=X_Low,EUR=X_Low,EUR=X_Close,EUR=X_Adj_Close
Date,,,,,,,,,,,,,,,,,,,,,
2024-11-25,141.990005,135.820007,136.020004,136.020004,418.380005,421.079987,414.850006,418.790009,166.089996,165.610001,...,231.460007,233.250000,229.740005,232.869995,232.869995,0.79434,0.79285,0.94970,0.95421,0.95421
2024-11-26,137.699997,135.669998,136.919998,136.919998,419.589996,429.040009,418.850006,427.989990,167.630005,167.580002,...,233.330002,235.570007,233.330002,235.059998,235.059998,0.79805,0.79261,0.94842,0.95746,0.95746
2024-11-27,135.009995,132.009995,133.029999,133.029999,425.105011,427.229889,424.140015,424.970001,169.000000,168.020004,...,234.464996,235.690002,233.810104,235.460007,235.460007,0.79561,0.78947,0.94530,0.94700,0.94700

In [3]:
ticker = "AAPL"
date_start = datetime.now().date() - timedelta(days=42)
date_end = datetime.now().date() + timedelta(days=1) 
prices = get_fin_data_indiv(ticker,date_start, date_end)
prices = prices.iloc[:,:-2]
prices

             AAPL_Open   AAPL_High    AAPL_Low  AAPL_Close
Date
2024-10-21  234.449997  236.850006  234.449997  236.479996
2024-10-22  233.889999  236.220001  232.600006  235.860001
2024-10-23  234.080002  235.139999  227.759995  230.759995
2024-10-24  229.979996  230.820007  228.410004  230.570007
2024-10-25  229.740005  233.220001  229.570007  231.410004
2024-10-28  233.320007  234.729996  232.550003  233.399994
2024-10-29  233.100006  234.330002  232.320007  233.669998
2024-10-30  232.610001  233.470001  229.550003  230.100006
2024-10-31  229.339996  229.830002  225.369995  225.910004
2024-11-01  220.970001  225.350006  220.270004  222.910004
2024-11-04  220.990005  222.789993  219.710007  222.009995
2024-11-05  221.800003  223.949997  221.139999  223.449997
2024-11-06  222.610001  226.070007  221.190002  222.720001
2024-11-07  224.630005  227.880005  224.570007  227.479996
2024-11-08  227.169998  228.660004  226.410004  226.960007
2024-11-11  225.000000  225.699997  221.500000  224.229996
2024-11-12  224.550003  225.589996  223.360001  224.229996
2024-11-13  224.009995  226.649994  222.759995  225.119995
2024-11-14  225.020004  228.869995  225.000000  228.220001
2024-11-15  226.399994  226.919998  224.270004  225.000000
2024-11-18  225.250000  229.740005  225.169998  228.020004
2024-11-19  226.979996  230.160004  226.660004  228.279999
2024-11-20  228.059998  229.929993  225.889999  229.000000
2024-11-21  228.880005  230.160004  225.710007  228.520004
2024-11-22  228.059998  230.720001  228.059998  229.869995
2024-11-25  231.460007  233.250000  229.740005  232.869995
2024-11-26  233.330002  235.570007  233.330002  235.059998
2024-11-27  234.470001  235.690002  233.809998  234.929993
2024-11-29  234.809998  237.809998  233.970001  237.330002

In [4]:
data_2 = obtain_whole_data(date_start, date_end, "data/apple_tickers.csv", "AAPL")
data_2

C:\Users\Pavel\Desktop\GH\GAN-stock-prediction\venv\Lib\site-packages\pytrends\request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)
C:\Users\Pavel\Desktop\GH\GAN-stock-prediction\libs\data_trends.py:23: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  result = trends[trends.index.isin(dates)]

,NVDA_Open,NVDA_Low,NVDA_Close,NVDA_Adj_Close,MSFT_Open,MSFT_High,MSFT_Low,MSFT_Adj_Close,GOOGL_Open,GOOGL_Low,...,MCDA_High,MCDA_Low,MCDA_Open,MCDA_Close,iPhone,Apple,iMac,Fourier_3,Fourier_6,Fourier_9
2024-09-09 00:00:00,104.879997,103.690002,106.470001,106.460892,407.239990,408.649994,402.149994,404.909515,152.509995,147.220001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-09-10 00:00:00,107.809998,104.949997,108.099998,108.090752,408.200012,416.329987,407.700012,413.372589,150.449997,148.339996,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-09-11 00:00:00,109.389999,107.419998,116.910004,116.900002,415.500000,423.989990,409.579987,422.194916,149.919998,147.520004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-09-12 00:00:00,116.839996,115.379997,119.139999,119.139999,423.309998,427.369995,419.750000,426.147003,153.800003,152.649994,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-09-13 00:00:00,119.080002,117.599998,119.099998,119.099998,425.829987,431.829987,425.459991,429.729828,155.429993,155.210007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-28 00:00:00,135.894997,133.925003,136.794998,136.794998,422.599991,426.055008,419.909988,423.224991,168.750000,167.590004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-11-29 00:00:00,136.779999,136.050003,138.250000,138.250000,420.089996,424.880005,417.799988,423.459991,168.500000,167.160004,...,1.47779,1.573786,1.720926,1.813401,100.0,74.0,1.0,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,229.952503,234.080339,235.408417
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.752123,233.053103,234.196647
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,227.398774,230.756672,230.823322

In [ ]:
data_3 = obtain_dataset_3_days("data/apple_tickers.csv", "AAPL")

In [ ]:
mavg = tech_indicators(prices)
fft = fin_fourier(prices.iloc[:,3])
mavg = mavg.iloc[-3:,:]
fft = fft.iloc[-3:,:]

In [ ]:
fft

In [ ]:
prices = prices.iloc[-3:,:]
prices = prices.merge(mavg, left_index=True, right_index=True, how='outer')
fft.index = prices.index
prices = prices.merge(fft, left_index=True, right_index=True, how='outer')
prices

In [ ]:
keywords = ['iPhone', 'Apple',  'iMac']
trends = get_trends(keywords)
trends = filter_trends(list(prices.index.values), trends)

In [ ]:
trends

In [ ]:
data = data.merge(mavg, left_index=True, right_index=True, how='outer')
data = data.merge(trends, left_index=True, right_index=True, how='outer')
data = data.merge(fft, left_index=True, right_index=True, how='outer')
data

In [ ]:
prices = prices.merge(trends, left_index=True, right_index=True, how='outer')
prices

In [ ]:
model = use_model("data/apple_model.pth", 69)