In [1]:
from libs.data_finance import get_fin_data_3_day, get_fin_data_mult, get_fin_data_indiv
from libs.model_training import use_model
from datetime import datetime, timedelta
from libs.data_indicators_fft import tech_indicators, fin_fourier
from libs.data_trends import get_trends, filter_trends
from libs.data_edit import fill_missing, get_only
import pandas as pd

In [3]:
data = get_fin_data_3_day("data/apple_tickers.csv", "AAPL")
data = fill_missing(data)
data

,NVDA_Open,NVDA_High,NVDA_Low,NVDA_Close,NVDA_Adj_Close,NVDA_Volume,MSFT_Open,MSFT_High,MSFT_Low,MSFT_Close,...,GBP=X_Low,GBP=X_Close,GBP=X_Adj_Close,GBP=X_Volume,EUR=X_Open,EUR=X_High,EUR=X_Low,EUR=X_Close,EUR=X_Adj_Close,EUR=X_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2024-11-25,141.990005,142.050003,135.820007,136.020004,136.020004,344941900.0,418.380005,421.079987,414.850006,418.790009,...,0.79285,0.79404,0.79404,0,0.95421,0.95698,0.94970,0.95421,0.95421,0
2024-11-26,137.699997,139.300003,135.669998,136.919998,136.919998,189688300.0,419.589996,429.040009,418.850006,427.989990,...,0.79261,0.79789,0.79789,0,0.95746,0.95902,0.94842,0.95746,0.95746,0

In [15]:
data = get_only(data, "data/apple_tickers.csv")
data

,NVDA_Open,NVDA_Low,NVDA_Close,NVDA_Adj_Close,MSFT_Open,MSFT_High,MSFT_Low,MSFT_Adj_Close,GOOGL_Open,GOOGL_Low,...,AAPL_Open,AAPL_High,AAPL_Low,AAPL_Close,AAPL_Adj_Close,GBP=X_Open,GBP=X_Low,EUR=X_Low,EUR=X_Close,EUR=X_Adj_Close
Date,,,,,,,,,,,,,,,,,,,,,
2024-11-25,141.990005,135.820007,136.020004,136.020004,418.380005,421.079987,414.850006,418.790009,166.089996,165.610001,...,231.460007,233.250000,229.740005,232.869995,232.869995,0.79434,0.79285,0.94970,0.95421,0.95421
2024-11-26,137.699997,135.669998,136.919998,136.919998,419.589996,429.040009,418.850006,427.989990,167.630005,167.580002,...,233.330002,235.570007,233.330002,235.059998,235.059998,0.79805,0.79261,0.94842,0.95746,0.95746
2024-11-27,137.699997,135.669998,136.919998,136.919998,419.589996,429.040009,418.850006,427.989990,167.630005,167.580002,...,233.330002,235.570007,233.330002,235.059998,235.059998,0.79561,0.79269,0.94870,0.95040,0.95040

In [16]:
ticker = "AAPL"
date_start = datetime.now().date() - timedelta(days=42)
date_end = datetime.now().date() + timedelta(days=1) 
prices = get_fin_data_indiv(ticker,date_start, date_end)
prices = prices.iloc[:,:-2]
prices

             AAPL_Open   AAPL_High    AAPL_Low  AAPL_Close
Date
2024-10-16  231.600006  232.119995  229.839996  231.779999
2024-10-17  233.429993  233.850006  230.520004  232.149994
2024-10-18  236.179993  236.179993  234.009995  235.000000
2024-10-21  234.449997  236.850006  234.449997  236.479996
2024-10-22  233.889999  236.220001  232.600006  235.860001
2024-10-23  234.080002  235.139999  227.759995  230.759995
2024-10-24  229.979996  230.820007  228.410004  230.570007
2024-10-25  229.740005  233.220001  229.570007  231.410004
2024-10-28  233.320007  234.729996  232.550003  233.399994
2024-10-29  233.100006  234.330002  232.320007  233.669998
2024-10-30  232.610001  233.470001  229.550003  230.100006
2024-10-31  229.339996  229.830002  225.369995  225.910004
2024-11-01  220.970001  225.350006  220.270004  222.910004
2024-11-04  220.990005  222.789993  219.710007  222.009995
2024-11-05  221.800003  223.949997  221.139999  223.449997
2024-11-06  222.610001  226.070007  221.190002  222.720001
2024-11-07  224.630005  227.880005  224.570007  227.479996
2024-11-08  227.169998  228.660004  226.410004  226.960007
2024-11-11  225.000000  225.699997  221.500000  224.229996
2024-11-12  224.550003  225.589996  223.360001  224.229996
2024-11-13  224.009995  226.649994  222.759995  225.119995
2024-11-14  225.020004  228.869995  225.000000  228.220001
2024-11-15  226.399994  226.919998  224.270004  225.000000
2024-11-18  225.250000  229.740005  225.169998  228.020004
2024-11-19  226.979996  230.160004  226.660004  228.279999
2024-11-20  228.059998  229.929993  225.889999  229.000000
2024-11-21  228.880005  230.160004  225.710007  228.520004
2024-11-22  228.059998  230.720001  228.059998  229.869995
2024-11-25  231.460007  233.250000  229.740005  232.869995
2024-11-26  233.330002  235.570007  233.330002  235.059998

In [5]:
mavg = tech_indicators(prices)
fft = fin_fourier(prices.iloc[:,3])
mavg = mavg.iloc[-3:,:]
fft = fft.iloc[-3:,:]

In [15]:
fft

     Fourier_3   Fourier_6   Fourier_9
27  231.111754  231.086296  229.955805
28  232.339074  232.929181  233.229486
29  233.226491  233.177403  234.324613

In [6]:
prices = prices.iloc[-3:,:]
prices = prices.merge(mavg, left_index=True, right_index=True, how='outer')
fft.index = prices.index
prices = prices.merge(fft, left_index=True, right_index=True, how='outer')
prices

,AAPL_Open,AAPL_High,AAPL_Low,AAPL_Close,MAVG_5,MAVG_10,MAVG_20,EMA_5,EMA_10,EMA_20,...,Middle_BB,Upper_BB,RSI,MCDA_High,MCDA_Low,MCDA_Open,MCDA_Close,Fourier_3,Fourier_6,Fourier_9
Date,,,,,,,,,,,,,,,,,,,,,
2024-11-22,228.059998,230.720001,228.059998,229.869995,228.738000,227.048999,226.9550,228.615736,227.834346,227.896789,...,226.9550,233.444719,54.222959,-0.733859,-0.432882,-0.602359,-0.477471,231.111754,231.086296,229.955805
2024-11-25,231.460007,233.250000,229.740005,232.869995,229.707999,227.912999,226.9285,230.033822,228.749919,228.370428,...,226.9285,233.316261,60.464338,-0.313314,-0.072895,-0.225153,-0.032341,232.339074,232.929181,233.229486
2024-11-26,233.330002,235.570007,233.330002,235.059998,231.063998,228.995999,226.9980,231.709214,229.897206,229.007529,...,226.9980,233.700154,64.291784,0.168917,0.395049,0.359327,0.491477,233.226491,233.177403,234.324613

In [7]:
keywords = ['iPhone', 'Apple',  'iMac']
trends = get_trends(keywords)
trends = filter_trends(list(prices.index.values), trends)

C:\Users\Pavel\Desktop\GH\GAN-stock-prediction\venv\Lib\site-packages\pytrends\request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)
C:\Users\Pavel\Desktop\GH\GAN-stock-prediction\libs\data_trends.py:23: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  result = trends[trends.index.isin(dates)]

In [8]:
trends

            iPhone  Apple  iMac
date
2024-11-22      86     60     1
2024-11-25      95     62     1
2024-11-26      91     60     1

In [12]:
data = data.merge(mavg, left_index=True, right_index=True, how='outer')
data = data.merge(trends, left_index=True, right_index=True, how='outer')
data = data.merge(fft, left_index=True, right_index=True, how='outer')
data

,NVDA_Open,NVDA_Low,NVDA_Close,NVDA_Adj_Close,MSFT_Open,MSFT_High,MSFT_Low,MSFT_Adj_Close,GOOGL_Open,GOOGL_Low,...,MCDA_High,MCDA_Low,MCDA_Open,MCDA_Close,iPhone,Apple,iMac,Fourier_3,Fourier_6,Fourier_9
2024-11-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.733859,-0.432882,-0.602359,-0.477471,86.0,60.0,1.0,231.111754,231.086296,229.955805
2024-11-25,141.990005,135.820007,136.020004,136.020004,418.380005,421.079987,414.850006,418.790009,166.089996,165.610001,...,-0.313314,-0.072895,-0.225153,-0.032341,95.0,62.0,1.0,232.339074,232.929181,233.229486
2024-11-26,137.699997,135.669998,136.919998,136.919998,419.589996,429.040009,418.850006,427.989990,167.630005,167.580002,...,0.168917,0.395049,0.359327,0.491477,91.0,60.0,1.0,233.226491,233.177403,234.324613
2024-11-27,137.699997,135.669998,136.919998,136.919998,419.589996,429.040009,418.850006,427.989990,167.630005,167.580002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
prices = prices.merge(trends, left_index=True, right_index=True, how='outer')
prices

,AAPL_Open,AAPL_High,AAPL_Low,AAPL_Close,MAVG_5,MAVG_10,MAVG_20,EMA_5,EMA_10,EMA_20,...,MCDA_Close,Fourier_3,Fourier_6,Fourier_9,iPhone_x,Apple_x,iMac_x,iPhone_y,Apple_y,iMac_y
Date,,,,,,,,,,,,,,,,,,,,,
2024-11-22,228.059998,230.720001,228.059998,229.869995,228.738000,227.048999,226.9550,228.615736,227.834346,227.896789,...,-0.477471,231.111754,231.086296,229.955805,86,60,1,86,60,1
2024-11-25,231.460007,233.250000,229.740005,232.869995,229.707999,227.912999,226.9285,230.033822,228.749919,228.370428,...,-0.032341,232.339074,232.929181,233.229486,95,62,1,95,62,1
2024-11-26,233.330002,235.570007,233.330002,235.059998,231.063998,228.995999,226.9980,231.709214,229.897206,229.007529,...,0.491477,233.226491,233.177403,234.324613,91,60,1,91,60,1

In [12]:
model = use_model("data/apple_model.pth", 69)

C:\Users\Pavel\Desktop\GH\GAN-stock-prediction\libs\model_training.py:180: FutureWarning: You are using `torch.load` with `weights_only=False` (the current default value), which uses the default pickle module implicitly. It is possible to construct malicious pickle data which will execute arbitrary code during unpickling (See https://github.com/pytorch/pytorch/blob/main/SECURITY.md#untrusted-models for more details). In a future release, the default value for `weights_only` will be flipped to `True`. This limits the functions that could be executed during unpickling. Arbitrary objects will no longer be allowed to be loaded via this mode unless they are explicitly allowlisted by the user via `torch.serialization.add_safe_globals`. We recommend you start setting `weights_only=True` for any use case where you don't have full control of the loaded file. Please open an issue on GitHub for any issues related to this experimental feature.
  state = torch.load(model_file,map_location=torch.device('cpu'))